# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# Node
node_modules/
dist/
.npm
package-lock.json

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
Backend/app/__pycache__/
Backend/__pycache__/
Frontend/node_modules/
Frontend/dist/