# Python
__pycache__/
**/__pycache__/
*.py[cod]
**/*.py[cod]
*$py.class
**/*.pyc
**/*.pyo
**/*.pyd
.venv/
env/
venv/
.env
.env.*
.env.local
*.env

# Node
node_modules/
dist/
.npm
package-lock.json

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
Backend/app/__pycache__/
Backend/__pycache__/
Frontend/node_modules/
Frontend/dist/